/*RESETEO*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif; }

/*FUENTES*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');


/*VARIABLES*/
@import './variables/colores';
@import './variables/extend';
@import './variables/mixin';


/*PARTIALS y MEDIA QUERYS*/
@import './secciones/general';
@import './secciones/index';
@import './secciones/nosotros';
@import './secciones/faq';
@import './secciones/registrate';
@import './secciones/ingresa';







