.mainFaq{
    
    align-items: center;
    justify-content: center;
    background-color: $fondoBody;
    .accordion{
        width: 50%;
        margin: 6rem auto;
    }
    
    .pFaq{
        @extend %estiloParrafo;
        @include fontStyle (rgb(0, 101, 121))
        
    }
    
}

/* MEDIA QUERY: Dispositivos pantallas medianas 575px---------------------*/
@media (max-width:575px) {
    main{
      .containerGeneral{
      .containerGrid {
        display: flex;
        flex-direction: column;
        }  
    }
    .containerGrid {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        grid-template-areas: 
          "calidad"
          "seguridad"
          "diversion";
        padding: 1rem;
      }  
    }
    }

/* MEDIA QUERY: Dispositivos pantallas medianas 575px---------------------*/
@media (max-width:767px) {
    header{
      .carousel{
        .carousel-inner{
            .carousel-item{
                .carousel-caption{
                    h1{
                        color: rgb(255, 255, 255);
                        text-align: center;
                        margin-bottom: 0;
                        font-weight: 800;
                        font-size: 200%;
                    }

                }
            }
        }
    }  
    }
    
        }

/* MEDIA QUERY: Dispositivos pantallas medianas 486px---------------------*/
@media (max-width:486px) {
    header{
      .carousel{
        .carousel-inner{
            .carousel-item{
                .carousel-caption{
                    h1{
                        color: rgb(255, 255, 255);
                        text-align: center;
                        margin-bottom: 0;
                        font-weight: 800;
                        font-size: 100%;
                    }
                    p{
                        font-size: 70%;
                    }

                }
            }
        }
    }  
    }
    
        }

