body{
    background-color: $fondoBody;
}

main{
    background-color: $fondoBody;
    .card-group{
        margin: 5rem;
        border-radius: solid $colorPrincipal;
        .card{
            &:hover{
                box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
                transform: translateY(-5%);
                transition: all 400ms ease;
            }
            background-color: $colorCard;
            div.card-body{
                background-color: $colorCard;
                .card-title{
                    color: $colorPrincipal;
                }
                .card-text{
                    color: aliceblue;
                }
                button.btn.btn-primary{
                    color: $ColorPrincioal2;
                    background-color: $colorPrincipal;
                    border: solid $colorPrincipal;
                    &:hover{
                        background-color: rgba(109, 129, 155, 0.8);
                        border: solid rgba(109, 129, 155, 0.8);
                        color: aliceblue;
                    }
                }
            }
        }
    }
    .titulos{
        text-align: center;
        color: rgb(27, 27, 27);
        margin-top: 2rem;
    }

    .pMain{
        border: solid $colorPrincipal;
        @extend %estiloParrafo;
        @include fontStyle (rgb(30, 30, 30))
    }
    .containerGeneral{
        margin: 5rem auto;
        width: 47vw;
        .containerGrid{
            border: solid $colorPrincipal;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            .imgGrid{
                width: 35%;
            }
        }
    }
    .containerGrid {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "calidad seguridad diversion";
        padding: 1rem;
      }
      .calidad {
        grid-area: calidad;
        .tituloGrid{
            margin: 0 auto;
        }
    }
      .seguridad {
        grid-area: seguridad;
        .tituloGrid{
            margin: 0 auto;  
        }
    }

      .diversion {
        grid-area: diversion;
        .tituloGrid{
            margin: 0 auto;  
    }

    }

    }


/* MEDIA QUERY: Dispositivos pantallas medianas 575px---------------------*/
@media (max-width:575px) {
    main{
      .containerGeneral{
      .containerGrid {
        display: flex;
        flex-direction: column;
        }  
    }
    .containerGrid {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        grid-template-areas: 
          "calidad"
          "seguridad"
          "diversion";
        padding: 1rem;
      }  
    }
    }

/* MEDIA QUERY: Dispositivos pantallas medianas 575px---------------------*/
@media (max-width:767px) {
    header{
      .carousel{
        .carousel-inner{
            .carousel-item{
                .carousel-caption{
                    h1{
                        color: rgb(255, 255, 255);
                        text-align: center;
                        margin-bottom: 0;
                        font-weight: 800;
                        font-size: 200%;
                    }

                }
            }
        }
    }  
    }
    
        }

/* MEDIA QUERY: Dispositivos pantallas medianas 486px---------------------*/
@media (max-width:486px) {
    header{
      .carousel{
        .carousel-inner{
            .carousel-item{
                .carousel-caption{
                    h1{
                        color: rgb(255, 255, 255);
                        text-align: center;
                        margin-bottom: 0;
                        font-weight: 800;
                        font-size: 100%;
                    }
                    p{
                        font-size: 70%;
                    }

                }
            }
        }
    }  
    }
    
        }


 






