body{
    background-color: $fondoBody;
}

main{
    background-color: $fondoBody;
    .card-group{
        margin: 5rem;
        border-radius: solid $colorPrincipal;
        .card{
            &:hover{
                box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
                transform: translateY(-5%);
                transition: all 400ms ease;
            }
            background-color: $colorCard;
            div.card-body{
                background-color: $colorCard;
                .card-title{
                    color: $colorPrincipal;
                }
                .card-text{
                    color: aliceblue;
                }
                button.btn.btn-primary{
                    color: $ColorPrincioal2;
                    background-color: $colorPrincipal;
                    border: solid $colorPrincipal;
                    &:hover{
                        background-color: rgba(109, 129, 155, 0.8);
                        border: solid rgba(109, 129, 155, 0.8);
                        color: aliceblue;
                    }
                }
            }
        }
    }
    .titulos{
        text-align: center;
        color: rgb(27, 27, 27);
        margin-top: 2rem;
    }

    .pMain{
        border: solid $colorPrincipal;
        @extend %estiloParrafo;
        @include fontStyle (rgb(30, 30, 30))
    }


}

   






