header{
    .navbar.navbar-expand-lg{
        .container-fluid{
            .collapse.navbar-collapse{
                .navbar-nav.me-auto.mb-2.mb-lg-0{
                    .nav-item{
                        .nav-link.active.ingresa{
                            color: $ColorPrincioal2;
                        }
                    }
                }
            }
        }
    }
}


.mainIngresa{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $fondoBody;
    form{
        margin: 1rem;
        padding: 2rem;
        font-size: 20px;
        border: solid $colorPrincipal;
        border-radius: 5px;
        background-color: rgb(27, 27, 27);
        h3{
            margin: 2rem;
            text-align: center;
            color: $colorPrincipal;
        }
        .btn{
            background-color: $colorPrincipal;
            border-radius: 10px;
        }
        .btn-primary{
            border: solid $colorPrincipal;
        }
        .btn.btn-primary{
            &:hover{
                background-color: rgba(109, 129, 155, 0.8);
                border: solid rgba(109, 129, 155, 0.8);
                color: aliceblue;
            }
        }
        div .form-label{
            color: aliceblue;
        }
        div .form-check-label{
            color: aliceblue;
        }
    }
    
}

/* MEDIA QUERY: Dispositivos pantallas medianas 575px---------------------*/
@media (max-width:575px) {
    main{
      .containerGeneral{
      .containerGrid {
        display: flex;
        flex-direction: column;
        }  
    }
    .containerGrid {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        grid-template-areas: 
          "calidad"
          "seguridad"
          "diversion";
        padding: 1rem;
      }  
    }
    }

/* MEDIA QUERY: Dispositivos pantallas medianas 575px---------------------*/
@media (max-width:767px) {
    header{
      .carousel{
        .carousel-inner{
            .carousel-item{
                .carousel-caption{
                    h1{
                        color: rgb(255, 255, 255);
                        text-align: center;
                        margin-bottom: 0;
                        font-weight: 800;
                        font-size: 200%;
                    }

                }
            }
        }
    }  
    }
    
        }

/* MEDIA QUERY: Dispositivos pantallas medianas 486px---------------------*/
@media (max-width:486px) {
    header{
      .carousel{
        .carousel-inner{
            .carousel-item{
                .carousel-caption{
                    h1{
                        color: rgb(255, 255, 255);
                        text-align: center;
                        margin-bottom: 0;
                        font-weight: 800;
                        font-size: 100%;
                    }
                    p{
                        font-size: 70%;
                    }

                }
            }
        }
    }  
    }
    
        }

