.mainNosotros{
    width: 100vw;
    .card1Container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem;
        flex-direction: column;
        h3{
           margin: 1rem;
           padding: 2rem;
           font-style: italic;
        }
        h5.card-title{
            color: $colorPrincipal;
        }
        .card.mb-3{
            &:hover{
                box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
                transform: translateY(-5%);
                transition: all 400ms ease;
            }
        }

    }
   
    
}

