.mainRegistrate{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $fondoBody;
    .formRegistrate{
        margin: 3rem;
        padding: 3rem;
        font-size: 20px;
        border: solid $colorPrincipal;
        border-radius: 5px;
        background-color: rgb(27, 27, 27);
        h3{
            margin: 2rem;
            text-align: center;
            color: aliceblue;
        }
        .btn{
            background-color: $colorPrincipal;
            border-radius: 10px;
        }
        .btn-primary{
            border: solid $colorPrincipal;
        }
        div .form-label{
            color: aliceblue;
        }
        div .form-check-label{
            color: aliceblue;
        }

    }
}